<div>
    {{#each this.beersFromApi}}
    <div>
        <img src={{this.image_url}} width="100" height="100" alt="">
        <p>Name: {{this.name}}</p>
        <p>Description: {{this.description}}</p>
        <p>Tagline: {{this.tagline}}</p>
    </div>
    {{/each}}
</div>