<div>
    <h1>Bienvenido a index</h1>

    <img src="./images/beer.png" width="300" height="300" alt="">
    <div>

        <a href="/beers"><button>Check the Beers!</button></a>

        <a href="/random-beer"><button>Check a Random Beer!</button></a>

    </div>
    
</div>