<div>
    <h1>Bienvenido a index</h1>

    <img src="./images/beer.png" width="300" height="300" alt="">

    <a href="/beers">Check the Beers!</a>

    <a href="/random-beer">Check a Random Beer!</a>
</div>